/* page layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* this will center header, main, and footer
  because they are the direct children of body */
  background: linear-gradient(180deg, #9af8ef 0%, #d1fedb 100%);
  font-family: "Lexend", sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  background-image: url("https://cdn.glitch.global/8157b8c3-09cb-40b2-85d4-9ae9b991c0dc/cat-img.jpg?v=1677202007907");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 400px;
  position: relative;
}


#hamburger div {
  width: 32px;
  height: 7px;
  margin: 10px;
  background: white;
  flex-direction: column;
}

main {
  max-width: 80%;
}

main p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #87286e;
}

.red {
  color: red;
}

#green {
  color: green;
}

/* type */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  background: linear-gradient(188.59deg, #78f4fc 6.56%, #d9ffd8 100.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

nav {
  display: flex;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}

nav a {
  font-size: 19px;
  line-height: 22px;
  color: #0500ff;
  text-decoration: none;
  display: block;
}

footer {
  margin-top: auto; /* will stick footer to bottom of page */
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  min-width: 50px;
  width: 65%;
  padding-left: 20px;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #87286e;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  h1 {
    font-size: 64px;
  }

  main {
    flex-wrap: nowrap;
  }

  img {
    padding-right: 40px;
  }

  /* nav div {
    display: flex;
  }

  nav div a {
    margin: 10px;
  } */
}
